SITE_URL=http://localhost:3000
API_URL=https://increasing-add-illustrations-curriculum.trycloudflare.com
MEDIA_URL=https://increasing-add-illustrations-curriculum.trycloudflare.com
MEDIA_DOMAIN=increasing-add-illustrations-curriculum.trycloudflare.com


NAME_ORGANIZATION=SitteName

LOCALES=[{"code":"uk","iso":"uk-UA","file":"uk-UA.js"},{"code":"en","iso":"en-US","file":"en-US.js"}]
DEFAULT_LOCALE=uk
LANG_DIR=lang
