SITE_URL=http://localhost:3000
API_URL=http://localhost:3000
MEDIA_URL=http://localhost:3000
MEDIA_DOMAIN=localhost:3000

NAME_ORGANIZATION=TicketCRM

LOCALES=[{"code":"uk","iso":"uk-UA","file":"uk-UA.js"},{"code":"en","iso":"en-US","file":"en-US.js"}]
DEFAULT_LOCALE=uk
LANG_DIR=lang
