@layer reset, primevue

@layer reset {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 0;
  }
}


:root {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  border: 0;
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;

  body {
    border: 0;
    height: auto;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    text-align: center;
    width: 100%;

    /* stylelint-disable selector-id-pattern */
    #__nuxt {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}

/* section, main, footer, header {
  min-width: 100vw;
} */
section, main, footer, header {
  min-width: 100vw;
}

main {
  height: auto;
  position: relative;
}


