$font-weights: (
  //use weight-{key} class or weight-{key}-{breakpoint}
  //      "200":200,
  //      "300": 300,
  //      "500": 500,
        "400": 400,
        "600": 600,
        "700": 700
);
$font-styles: (
  //use {key}-txt class or use html tag {key}
        "head-lang": (
                "1440": (18px, 20px),
                "768": (18px, 20px),
                "375": (18px, 20px)
        ),
        "head-tel": (
                "1440": (16px, 16px),
                "768": (18px, 20px),
                "375": (18px, 20px)
        ),
        "head-but": (
                "1440": (15px, 16px),
                "768": (16px, 17px),
                "375": (12px, 13px)
        ),
        "head-menu": (
                "1440": (16px, 16px)
        ),
        "smallMenuCloseButton": (
                "768": (15px, 15px),
                "375": (15px, 15px),
        ),
        "foo-menu": (
                "1440": (18px, 18px),
                "768": (18px, 18px),
                "375": (13px, 13px)
        ),
        "foo-contacts": (
                "1440": (18px, 20px),
                "768": (20px, 22px),
                "375": (11px, 12px)
        ),
        "foo-tel": (
                "1440": (18px, 100%),
                "768": (18px, 22px),
                "375": (12px, 15px)
        ),
        "foo-parners": (
                "1440": (15px, 100%),
        ),
        "foo-copyright": (
                "1440": (16px, 20px),
                "768": (18px, 20px),
                "375": (13px, 16px)
        ),
        "postHeaderDay": (
                "1440": (24px, 26px),
                "768": (18px, 18px),
                "375": (13px, 13px)
        ),
        "postHeaderDaySmall": (
                "1440": (16px, 16px),
        ),
        "postHeaderDateNumber": (
                "1440": (80px, 87px),
                "768": (70px, 76px),
                "375": (30px, 33px)
        ),
        "postHeaderDateNumberSmall": (
                "1440": (50px, 54px),
        ),
        "postHeaderDateMonth": (
                "1440": (24px, 26px),
                "768": (18px, 18px),
                "375": (13px, 13px)
        ),
        "postHeaderDateMonthSmall": (
                "1440": (16px, 16px),
        ),
        "postTextName": (
                "1440": (120px, 131px),
                "768": (79px, 79px),
                "375": (50px, 50px)
        ),
        "postTextNameSmall": (
                "1440": (44px, 44px),
        ),
        "postTextAuthorTime": (
                "1440": (24px, 26px),
                "768": (18px, 18px),
                "375": (13px, 13px)
        ),
        "postTextAuthorTimeSmall": (
                "1440": (16px, 16px),
        ),
        "postItemButton": (
                "1440": (15px, 16px),
                "768": (16px, 17px),
                "375": (12px, 13px)
        ),
        "postItemButtonSmall": (
                "1440": (16px, 16px),
        ),
        "contactContantLabel": (
                "1440": (22px, 26px),
                "768": (17px, 16px),
                "375": (15px, 14px)
        ),
        "contactContantText": (
                "1440": (13px, 14px),
                "768": (13px, 14px),
                "375": (8px, 9px)
        ),
        "contactContantTime": (
                "1440": (27px, 30px),
                "768": (20px, 22px),
                "375": (20px, 22px)
        ),
        "contactContantDay": (
                "1440": (13px, 14px),
                "768": (8px, 9px),
                "375": (8px, 9px)
        ),
        "contactContantContacts": (
                "1440": (16px, 16px),
                "768": (13px, 13px),
                "375": (10px, 11px)
        ),
        "contactsButton": (
                "1440": (15px, 16px),
                "768": (16px, 17px),
                "375": (12px, 13px)
        ),
        "contactTels": (
                "1440": (16px, 17px),
                "768": (14px, 15px),
                "375": (14px, 15px)
        ),
        "h1": (
                "1440": (35px, 100%),
                "768": (27px, 100%),
                "320": (22px, 100%)
        ),
        "h2": (
                "1440": (35px, 100%),
                "768": (22px, 100%),
                "320": (17px, 100%)
        ),
        "h3": (
                "1440": (130px, 100%),
                "768": (90px, 100%),
                "320": (50px, 100%)
        ),
        "h4": (
                "1440": (120px, 100%),
                "768": (75px, 100%),
                "320": (50px, 100%)
        ),
        "h5": (
                "1440": (120px, 100%),
                "768": (79px, 100%),
                "320": (50px, 100%)
        ),
        "h5-m-sm": (
                "1440": (90px, 100%),
                "768": (79px, 100%),
                "320": (35px, 100%)
        ),
        "h6": (
                "320": (44px, 100%)
        ),
        "h7": (
                "1440": (34px, 100%),
                "320": (28px, 100%)
        ),
        "h8": (
                "1440": (25px, 100%),
                "320": (20px, 100%)
        ),
        "h9": (
                "768": (20px, 100%),
                "320": (15px, 100%)
        ),
        "h10": (
                "768": (50px, 100%),
                "320": (30px, 100%)
        ),
        "h10-spectacle": (
                "768": (50px, 100%),
                "320": (20px, 100%)
        ),
        "pag": (
                "320": (15px, 100%)
        ),
        "btn": (
                "1440": (15px, 100%),
                "768": (16px, 100%),
                "320": (12px, 100%)
        ),
        "btn-bold": (
                "768": (15px, 100%),
                "320": (11px, 100%)
        ),
        "btn-footer": (
                "768": (18px, 100%),
                "320": (13px, 100%)
        ),
        "btn-menu": (
                "768": (20px, 100%),
                "320": (15px, 100%)
        ),
        "btn-footer-bold": (
                "768": (18px, 100%),
                "320": (11px, 100%)
        ),
        "body-reg": (
                "1440": (20px, 100%),
                "768": (17px, 100%),
                "320": (15px, 100%)
        ),
        "body-reg-contacts": (
                "768": (20px, 100%),
                "320": (12px, 100%)
        ),
        "body-bold": (
                "1440": (20px, 100%),
                "768": (17px, 100%),
                "320": (15px, 100%)
        ),
        "body-sm": (
                "320": (12px, 100%)
        ),
        "first-letter": (
                "1440": (70px, 100%),
                "768": (50px, 100%),
                "320": (45px, 100%)
        ),
        "tab": (
                "1440": (20px, 100%),
                "320": (12px, 100%)
        ),
        "label-1": (
                "1440": (15px, 100%),
                "320": (14px, 100%)
        ),
        "label-1-sm": (
                "768": (12px, 100%),
                "320": (10px, 100%)
        ),
        "label-2": (
                "1440": (12px, 100%),
                "320": (10px, 100%)
        ),
        "label-3": (
                "1440": (23px, 100%),
                "320": (20px, 100%)
        ),
        "label-4": (
                "1440": (14px, 100%),
                "768": (12px, 100%),
                "320": (10px, 100%)
        ),
        "day": (
                "1440": (80px, 100%),
                "768": (70px, 100%),
                "320": (30px, 100%)
        ),
        "day-sm": (
                "1440": (50px, 100%),
                "768": (35px, 100%),
                "320": (20px, 100%)
        ),
        "day-ssm": (
                "1440": (30px, 100%),
                "320": (25px, 100%)
        ),
        "info-1": (
                "1440": (16px, 100%),
                "768": (18px, 100%),
                "320": (13px, 100%)
        ),
        "info-1-contacts": (
                "1440": (16px, 100%),
                "768": (13px, 100%),
                "320": (10px, 100%)
        ),
        "info-2": (
                "1440": (24px, 100%),
                "768": (22px, 100%),
                "320": (15px, 100%)
        ),
        "info-3-bold": (
                "1440": (22px, 100%),
                "768": (20px, 100%),
                "320": (13px, 100%)
        ),
        "info-3-bold-spectacle": (
                "1440": (22px, 100%),
                "768": (20px, 100%),
                "320": (10px, 100%)
        ),
        "info-4-bold": (
                "768": (13px, 100%),
                "320": (8px, 100%)
        ),
        "info-4-bold-contacts": (
                "1440": (13px, 100%),
                "320": (8px, 100%)
        ),
        "info-5-bold": (
                "320": (11px, 100%)
        ),
        "type": (
                "768": (11px, 100%),
                "320": (8px, 100%)
        ),
        "text-filtr": (
                "320": (13px, 100%)
        ),
        "text-1": (
                "1440": (12px, 100%),
                "768": (13px, 100%),
                "320": (10px, 100%)
        ),
        "text-filtr-bold": (
                "1440": (13px, 100%),
                "768": (15px, 100%),
                "320": (10px, 100%)
        ),
        "title-1": (
                "1440": (22px, 120%),
                "768": (17px, 100%),
                "320": (15px, 100%)
        ),
        "title-2": (
                "1440": (31px, 100%),
                "320": (22px, 100%)
        ),
        "title-3": (
                "1440": (17px, 100%),
                "320": (15px, 100%)
        ),
        "desc": (
                "768": (17px, 100%),
                "320": (13px, 100%)
        ),
        "number-1": (
                "1440": (27px, 100%),
                "320": (20px, 100%)
        ),
        "number-2": (
                "768": (22px, 100%),
                "320": (17px, 100%)
        ),
        "number-large": (
                "768": (300px, 100%),
                "320": (150px, 100%)
        ),
        "number-emp": (
                "1440": (16px, 100%),
                "320": (14px, 100%)
        ),
);

.azbuka {
  font-family: "Azbuka04", sans-serif
}

.geologica {
  font-family: "Geologica", sans-serif
}

.avanti {
  font-family: "Avanti", "Geologica", sans-serif;
  font-weight: 600;
}

.gothic {
  font-family: "BenguiatGothicCTT", sans-serif
}

