/* position */
.pos {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-sticky {
    position: sticky;
  }

  &-fixed {
    position: fixed;
  }

  &-static {
    position: static;
  }
}